name: Code Coverage
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, zip, apcu
          tools: phpunit:12.x
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Install composer dependencies
        run: composer install  --no-interaction --no-progress --prefer-dist
      - name: Run Pest unit tests with coverage and test results
        run: vendor/bin/pest --testsuite unit --coverage-clover=coverage-unit.xml --log-junit junit.xml
      - name: Upload unit coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage-unit.xml
          flags: unit
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run Pest integration tests with coverage and test results
        run: vendor/bin/pest --testsuite integration --coverage-clover=coverage-integration.xml --log-junit junit.xml
      - name: Upload integration coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage-integration.xml
          flags: integration
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run Pest smoke tests with coverage and test results
        run: vendor/bin/pest --testsuite smoke --coverage-clover=coverage-smoke.xml --log-junit junit.xml
      - name: Upload smoke coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage-smoke.xml
          flags: smoke
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}