name: Scorecard analysis

on:
  branch_protection_rule:
  push:
    branches:
      - master
      
permissions: read-all
jobs:
  build:
    uses: The-FireHub-Project/.github/.github/workflows/Scorecard.yml@master
