name: Semantic Pull Request

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    uses: The-FireHub-Project-legacy/.github/.github/workflows/SemanticPullRequest.yml@master
    with:
      repo-type: core-standard
      php-version: "8.2"
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
