name: Semantic Pull Request

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  build:
    uses: The-FireHub-Project-legacy/.github/.github/workflows/SemanticPullRequest.yml@master
    with:
      repo-type: core-standard
      php-version: "8.2"
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
