name: Semantic Pull Request

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  build:
    uses: The-FireHub-Project-legacy/.github/.github/workflows/SemanticPullRequest.yml@xxx
    with:
      repo-type: core-standard
      php-version: "8.2"
    secrets:
      inherit: true
