name: Add to Triage

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write
  repository-projects: write
  organization-projects: write
  contents: read

jobs:
  build:
    uses: The-FireHub-Project-legacy/.github/.github/workflows/AddToProject.yml@master
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
